<!-- <div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <form
    action=""
    class="sign-in-form"
    [formGroup]="signInForm"
    (ngSubmit)="onSubmit()"
  >
    <h4>Sign In</h4>

    <label for="username" class="username__title">Your account</label>
    <input
      name="username"
      type="text"
      class="username__input"
      formControlName="username"
      placeholder="Your username or email"
    />

    <label for="password" class="password__title">Password</label>
    <input
      type="password"
      name="password"
      formControlName="password"
      class="password__input"
      placeholder="Password"
    />
    <div class="forgot ms-auto"><a href="#">Forgot your password?</a></div>
    <ng-container *ngIf="signInForm.touched && signInForm.invalid">
      <span
        class="error-field"
        *ngIf="signInForm.get('username')?.errors?.['required']"
      >
        *Username is required
      </span>
      <span
        class="error-field"
        *ngIf="signInForm.get('username')?.errors?.['email']"
      >
        *Invalid email
      </span>
      <span
        class="error-field"
        *ngIf="signInForm.get('password')?.errors?.['required']"
      >
        *Password is required
      </span>
      <span
        class="error-field"
        *ngIf="signInForm.get('password')?.errors?.['pattern']"
      >
        *At least 8 characters in length, Lowercase letters, Uppercase letters
      , Numbers, Special characters
      </span>
    </ng-container>
    <div class="checkbox">
      <input
        type="checkbox"
        formControlName="rememberMe"
        class="remememberMe"
      />
      Remember me
    </div>
    <button type="submit" class="loginBtn">Login</button>
    <div class="footer">
      <span> Don't have an account? </span><a routerLink="/sign-up"> Register</a>
    </div>
  </form>
</div>
