<!-- <div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <form
    action=""
    class="forgot-form"
    [formGroup]="forgotPassForm"
    (ngSubmit)="onSubmit()"
  >
    <h4>Reset Password</h4>

    <label for="username" class="username__title">Your account</label>
    <input
      [ngClass]="{
        'red-border-class':
          forgotPassForm.get('username')?.errors && forgotPassForm.touched
      }"
      name="username"
      type="text"
      class="username__input"
      formControlName="username"
      placeholder="Enter your username or email"
    />
    <div class="captcha">
      <img class="captcha__img" src="../../../assets/captcha.png" alt="" />
      <input
        [ngClass]="{
          'red-border-class':
            forgotPassForm.get('captcha')?.errors && forgotPassForm.touched
        }"
        type="captcha"
        name="captcha"
        formControlName="captcha"
        class="captcha__input"
        placeholder="Enter the captcha"
      />
    </div>
    <ng-container *ngIf="forgotPassForm.touched && forgotPassForm.invalid">
      <span class="error-field" *ngIf="forgotPassForm.errors">
        *All fields are required
      </span>
      <span
        class="error-field"
        *ngIf="forgotPassForm.get('username')?.errors?.['required']"
      >
        *Username is required
      </span>
      <span
        class="error-field"
        *ngIf="forgotPassForm.get('username')?.errors?.['email']"
      >
        *Invalid email
      </span>
      <span
        class="error-field"
        *ngIf="forgotPassForm.get('captcha')?.errors?.['required']"
      >
        *Captcha is required
      </span>
    </ng-container>
    <button type="submit" class="forgotBtn" [disabled]="forgotPassForm.invalid">
      Forgot
    </button>
    <div class="footer">
      <a routerLink="/sign-in"> Back to Sign In</a>
    </div>
  </form>
</div>
