<div class="detail contain mt-5">
  <div class="detail__content row p-5">
    <div class="col-lg-2" *ngIf="getMovieDetailResult.poster_path">
      <img
        class="detail__poster"
        src="https://image.tmdb.org/t/p/original/{{
          getMovieDetailResult.poster_path
        }}"
        alt="{{ getMovieDetailResult.name }}"
      />
    </div>
    <div class="col-lg-10 mt-5 p-4">
      <h1 class="detail__title mt-2 mb-2">
        {{ getMovieDetailResult.title }}
      </h1>
      <p class="detail__overview mt-3 mb-3">
        {{ getMovieDetailResult.overview }}
      </p>
      <a
        class="detail__trailer btn btn-md"
        href="https://www.youtube.com/watch?v={{ getMovieVideoResult }}"
        target="_blank"
        >Watch trailer</a
      >
      <div class="detail__cast mt-3 mb-3">
        <h2 class="detail__cast__title">Top Cast</h2>
        <div class="row ">
          <div class="col-lg-4" *ngFor="let cast of getMovieCastResult">
            <div class="row mt-2 mb-2" >
              <div class="col-lg-2" *ngIf="cast.profile_path">
                <img
                  class="detail__cast__avatar"
                  src="https://image.tmdb.org/t/p/original/{{
                    cast.profile_path
                  }}"
                  alt="{{cast.original_name}}"
                />
              </div>
              <div class="detail__cast__profile col-lg-10">
                <h3>{{ cast.original_name }}</h3>
                <p>{{ cast.character }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-10 mt-5 p-4">
      <video
        src="https://www.youtube.com/watch?v={{ getMovieVideoResult }}"
      ></video>
    </div> -->
  </div>
</div>
