
.search__row {
  cursor: pointer;
}
.search__input {
  font-weight: 300;
  background-color: transparent;
  color: #fff;

}
.search__input::placeholder {
  color: #fff;
  margin-left: 25px;
}
.search__input:focus {
  background-color: transparent;
  color: #fff;
  border-color: none !important;
}

.search__btn {
  background-color: #e50914;
  color: #fff;
  font-weight: 300;
}

.search__btn:hover {
  background-color: #e50914;
  color: #fff;
  font-weight: 300;
  opacity: 0.8;
}

.search__result__img {
  width: 100%;
}
.search__result__content {
  color: #fff;
}
.search__result__content__title {
  font-weight: bold;
}

.search__result__content__overview{
  font-weight: 200;
}
