.navbar .navbar-brand {
  color: #E50914;
  font-weight: bold;
  font-size: xx-large;
  padding-right: 42px;
  margin-left: 60px;
}


.navbar-nav .nav-link{
  color: #fff;
  font-size: large;
  padding: 10px;
  margin: 0 15px;
  font-weight: 200;
}
