<!-- backdrop Start -->
<div class="container-fluid">
  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div
        class="carousel-item active"
        data-bs-interval="5000"
        *ngFor="let backdrop of backdropResult; let i = index"
        [ngClass]="{ active: i === 1 }"
        [routerLink]="['/movie',backdrop.id]"
      >
        <img
          src="https://image.tmdb.org/t/p/original/{{ backdrop.backdrop_path }}"
          class="d-block w-100"
          alt="{{ backdrop.name }}"
        />
        <div class="carousel-caption d-none d-md-block">
          <h2 class="carousel-title">
            {{ backdrop.original_title || backdrop.name }}
          </h2>
          <p class="carousel-overview">{{ backdrop.overview }}</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- backdrop end -->

<div class="contain mt-3 p-2">
  <!-- Trending Movies -->
  <div class="row">
    <h5 class="row__title text-white">Trending Movies</h5>
    <div class="row__poster">
      <ng-container *ngFor="let trendMovie of trendingMovieResult">
        <img
          src="https://image.tmdb.org/t/p/original/{{ trendMovie.poster_path }}"
          class="row__img"
          alt="{{ trendMovie.name }}"
          [routerLink]="['/movie',trendMovie.id]"
        />
      </ng-container>
    </div>
  </div>

  <!-- Action Movies -->
  <div class="row">
    <h5 class="row__title text-white">Action Movies</h5>
    <div class="row__poster">
      <ng-container *ngFor="let action of actionMovieResult">
        <img
          src="https://image.tmdb.org/t/p/original/{{ action.poster_path }}"
          class="row__img"
          alt="{{ action.name }}"
          [routerLink]="['/movie',action.id]"
        />
      </ng-container>
    </div>
  </div>
  <!-- Adventure Movies -->
  <div class="row">
    <h5 class="row__title text-white">Adventure Movies</h5>
    <div class="row__poster">
      <ng-container *ngFor="let adventure of adventureMovieResult">
        <img
          src="https://image.tmdb.org/t/p/original/{{ adventure.poster_path }}"
          class="row__img"
          alt="{{ adventure.name }}"
          [routerLink]="['/movie',adventure.id]"
        />
      </ng-container>
    </div>
  </div>

  <!-- Animation Movies -->
  <div class="row">
    <h5 class="row__title text-white">Animation Movies</h5>
    <div class="row__poster">
      <ng-container *ngFor="let animation of animationMovieResult">
        <img
          src="https://image.tmdb.org/t/p/original/{{ animation.poster_path }}"
          class="row__img"
          alt="{{ animation.name }}"
          [routerLink]="['/movie',animation.id]"
        />
      </ng-container>
    </div>
  </div>

  <!-- Comedy Movies -->
  <div class="row">
    <h5 class="row__title text-white">Comedy Movies</h5>
    <div class="row__poster">
      <ng-container *ngFor="let comedy of comedyMovieResult">
        <img
          src="https://image.tmdb.org/t/p/original/{{ comedy.poster_path }}"
          class="row__img"
          alt="{{ comedy.name }}"
          [routerLink]="['/movie',comedy.id]"
        />
      </ng-container>
    </div>
  </div>
  <!-- Documentary Movies -->
  <div class="row">
    <h5 class="row__title text-white">Documentary Movies</h5>
    <div class="row__poster">
      <ng-container *ngFor="let documentary of documentaryMovieResult">
        <img
          src="https://image.tmdb.org/t/p/original/{{ documentary.poster_path }}"
          class="row__img"
          alt="{{ documentary.name }}"
          [routerLink]="['/movie',documentary.id]"
        />
      </ng-container>
    </div>
  </div>

  <!-- Science Fiction Movies -->
  <div class="row">
    <h5 class="row__title text-white">Animaton Movies</h5>
    <div class="row__poster">
      <ng-container *ngFor="let sf of sciencefictionMovieResult">
        <img
          src="https://image.tmdb.org/t/p/original/{{ sf.poster_path }}"
          class="row__img"
          alt="{{ sf.name }}"
          [routerLink]="['/movie',sf.id]"
        />
      </ng-container>
    </div>
  </div>

  <!-- Thriller Movies -->
  <div class="row">
    <h5 class="row__title text-white">Thirller Movies</h5>
    <div class="row__poster">
      <ng-container *ngFor="let thriller of thrillerMovieResult">
        <img
          src="https://image.tmdb.org/t/p/original/{{ thriller.poster_path }}"
          class="row__img"
          alt="{{ thriller.name }}"
          [routerLink]="['/movie',thriller.id]"
        />
      </ng-container>
    </div>
  </div>
</div>
