.carousel-inner {
  height: 700px;
  cursor: pointer;
}

.carousel-inner .carousel-item img {
  height: 700px;
  object-fit: cover;
  opacity: 0.8;
}

.carousel-inner .carousel-caption {
  color: #fff;
}
.carousel-caption .carousel-title {
  font-size: xxx-large;
}
.carousel-caption .carousel-overview {
  font-size: large;
  font-weight: 300;
}

.row {
  margin-left: 60px
}
.row__title {
  font-size: 1.4vw;
  line-height: 1.25vw;
  margin-bottom: 16px;
}
.row__poster {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}


.row__img {
  max-height: 200px;
  object-fit: contain;
  width: 100%;
  box-sizing: content-box;
  transition: transform 450ms;
  margin-right: 16px
}

.row__img:hover {
  transform: scale(1.09);
  cursor: pointer;
}

.row__poster::-webkit-scrollbar{
  display: none;
}

